@page
@model IsaksMusic.Pages.Admin.News.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Admin/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NewsEntry[0].Headline)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NewsEntry[0].Lead)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NewsEntry[0].Body)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NewsEntry[0].PublishDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NewsEntry[0].ImageUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NewsEntry[0].LinkTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NewsEntry[0].LinkUrl)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.NewsEntry) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Headline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lead)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LinkTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LinkUrl)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
