@model List<IsaksMusic.Models.ViewModels.NewsEntryViewModel>

@foreach (var entry in Model)
{
    <div class="news-entry-container" id="entryContainer_@entry.Id">
        <div class="row">
            <div class="col-md-4 text-center">
                <img class="img-thumbnail" src="@entry.ImageUrl" alt="News Image" title="@entry.Headline" />
                <span class="text-muted ml-auto">@entry.PublishDate</span>
            </div>
            <div class="col-md-8">
                <div class="news-entry-inner">
                    <div class="news-entry-header">
                        <h4 class="text-yellow">@entry.Headline</h4>
                        <div class="news-entry-actions">
                            <a title="Edit" data-toggle="tooltip" asp-page="./Edit" asp-route-id="@entry.Id">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                            <a title="Delete" data-toggle="tooltip" onclick="deleteNewsEntry(@entry.Id)">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>
                    <hr />
                    <div class="news-entry-content collapse" id="newsEntryContent_@entry.Id">
                        @if (!string.IsNullOrEmpty(entry.Lead))
                        {
                            <p class="text-muted font-italic">@entry.Lead</p>

                        }
                        <p class="news-body-text">@entry.Body</p>
                        @if (!string.IsNullOrEmpty(entry.LinkUrl))
                        {
                            <a title="Opens new tab" class="d-block text-yellow mt-3" href="@entry.LinkUrl" target="_blank">@entry.LinkTitle</a>
                        }
                    </div>
                    <a class="collapse-news-btn collapsed" id="collapseNewsBtn_@entry.Id" data-toggle="collapse" href="#newsEntryContent_@entry.Id" aria-expanded="false" aria-controls="collapseDescription"></a>
                </div>
            </div>
        </div>
    </div>
}
