@page
@model IsaksMusic.Pages.Music.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/_Layout.cshtml";
}

<!-- Mouseover tooltip -->
<div class="tooltip-track">00:00</div>

<div class="body-background">
    <div class="container" id="musicPlayerWrapper">
        <!-- Media player -->
        <div id="waveformContainer">
            <div id="waveformInner">
                <!-- Wave form header -->
                <div id="waveformHeader">
                    <h4 id="songPlayingTitle"></h4>
                </div>
                <div id="waveform">

                </div>
                <div class="d-flex">
                    <div>
                        <span id="waveformCounter"></span>
                    </div>
                    <div class="ml-auto">
                        <span id="waveformDuration"></span>
                    </div>
                </div>
                <div class="row text-center" id="waveformControls">
                    <!-- Zoom in -->
                    <div class="col-md-4">
                        <!-- Shuffle -->
                        <button title="Shuffle" type="button" class="btn btn-dark" data-toggle="button" aria-pressed="false" autocomplete="off">
                            <i class="fas fa-random"></i>
                        </button>
                    </div>
                    <div class="col-md-4">
                        <!-- Play/Pause -->
                        <button title="Play/Pause" id="playPauseBtn" class="btn btn-dark" onclick="playPause()">
                            <i class="fas fa-play-circle fa-2x"></i>
                        </button>
                    </div>
                    <!-- Volume -->
                    <div class="col-md-4">
                        <input id="volumeSlider" type="range" min="0" max="100" value="50" />
                    </div>
                </div>
            </div>
        </div>
        <div id="songListContainer">
            <div id="songListHeader">
                <h2>Songs</h2>
            </div>
            <div id="songList">                
                <ul>
                    @foreach (var song in Model.Songs)
                    {
                        <li>
                            <div class="row align-items-center">
                                <div class="col-md-10">
                                    <a class="songTitle" onclick="loadSong('@song.FileName', '@song.Title')">
                                        <div class="song-wrapper">
                                            <div class="song-details">
                                                <span>@song.Title</span>
                                                <span class="float-right">@TimeSpan.FromSeconds(@song.Length).Minutes:@TimeSpan.FromSeconds(song.Length).Seconds</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-2 text-center">
                                    <a class="btn btn-dark" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-h"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>                                                       
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>


