@page
@model IsaksMusic.Pages.Admin.StatisticsModel
@{
    ViewData["Title"] = "Statistics";
    Layout = "~/Pages/Admin/_AdminLayout.cshtml";
}

<div id="statisticsWrapper">
    <!-- Amount of songs played -->
    <h4 class="mb-5">Songs played</h4>
    <div class="row text-center">
        <div class="col-md-6">
            <div class="row">
                <div class="col-sm-6">
                    <div class="statistics-circle">
                        <h5 class="text-white">@DateTime.Today.Year</h5>
                        <h3>@Model.ViewModel.SongsPlayedYear</h3>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="statistics-circle">
                        <h5 class="text-white">@Model.ViewModel.CurrentMonth</h5>
                        <h3>@Model.ViewModel.SongsPlayedMonth</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-sm-6">
                    <div class="statistics-circle">
                        <h5 class="text-white">Week</h5>
                        <h3>@Model.ViewModel.SongsPlayedWeek</h3>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="statistics-circle">
                        <h5 class="text-white">Today</h5>
                        <h3>@Model.ViewModel.SongsPlayedToday</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <!-- Most played songs -->
    <h4>Most played songs</h4>
    <div class="row text-center">
        <div class="col-md-6">
            <div class="row">
                <div class="col-sm-6">
                    <div>
                        <h5 class="mt-4 text-white">@DateTime.Today.Year</h5>
                        <h5 class="text-yellow">@Model.ViewModel.MostPlayedYear</h5>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div>
                        <h5 class="mt-4 text-white">@Model.ViewModel.CurrentMonth</h5>
                        <h5 class="text-yellow">@Model.ViewModel.MostPlayedMonth</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-sm-6">
                    <div>
                        <h5 class="mt-4 text-white">Week</h5>
                        <h5 class="text-yellow">@Model.ViewModel.MostPlayedWeek</h5>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div>
                        <h5 class="mt-4 text-white">Today</h5>
                        <h5 class="text-yellow">@Model.ViewModel.MostPlayedToday</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <!-- Song count -->
            <div class="card">
                <div class="card-body">
                    <div class="d-flex">
                        <h5 class="card-title">Top 5 songs played</h5>
                    </div>
                    <p class="card-text">The list below represents the number of times each song has been played.</p>
                </div>
                <ul class="list-group list-group-flush">
                    @foreach (var item in Model.ViewModel.TopSongsPlayed)
                    {
                        <li class="list-group-item"><span>@item.Title</span><span class="float-right text-yellow">@item.Points</span></li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <!-- News count -->
            <div class="card">
                <div class="card-body">
                    <div class="d-flex">
                        <h5 class="card-title">Top 5 news clicked</h5>
                    </div>
                    <p class="card-text">The list below represents the number of times a news entry has been read.</p>
                </div>
                <ul class="list-group list-group-flush">
                    @foreach (var item in Model.ViewModel.TopNewsRead)
                    {
                        <li class="list-group-item"><span>@item.Title</span><span class="float-right text-yellow">@item.Points</span></li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>


